<div class="container">
{{#each data as |post|}}
<div class="card">
    <div class="d-flex justify-content-center card-header">
        <p>{{post.title}}</p>
    </div>

    <div class="card-body">
        <p>{{post.content}}</p>
        <p>Post by: {{post.user.username}}</p>
        <a href="/post/{{post.id}}">View Post</a>
    </div>
</div>

{{/each}}
</div>